.App {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr minmax(600px, 1fr) 1fr;
}

#button {
  background-color: #39b43ff6;
  width: 150px;
  height: 50px;
  font-size: 25px;
}
#button:hover {
  transform: scale(1.1);
  background-color: #b43939f6;
}